body {
    background-color: #7692FF;
}

h1 {
    color: #091540;
}

h2 {
    background-color: #ABD2FA;
    border: 4px dotted #091540;
    border-radius: 10px;
    padding: 10px;
}

p {
    color: #ABD2FA;

}